@model Entities.Slider

@{
    ViewData["Title"] = "Delete";
}


<h3 style="color:red" class="mb-5">Silmək istədiyinizə əminsiniz?</h3>
<div>
    <h4>Slayd</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeaderLeft)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeaderLeft)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeaderRight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeaderRight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Summary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Summary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BackgroundPhoto)
        </dt>
        <dd class = "col-sm-10">
            <img width="100" src="@Html.DisplayFor(model => model.BackgroundPhoto)" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsShow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsShow)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index">Siyahıya Qayıt</a>
    </form>
</div>
