@model BlogVM
@{
    ViewData["Title"] = "Bloq Detalları";
    ViewData["TopTitle"] = "Bloq Detalları";

}

    <!-- Start Breadcrumb 
    ============================================= -->
    <div class="breadcrumb-area text-center shadow dark-hard bg-fixed text-light" style="background-image: url(/assets/img/banner/9.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h1>Bloq Detalları</h1>
                    <ul class="breadcrumb">
                        <li><a href="/"><i class="fas fa-home"></i> Ana Səhifə</a></li>
                        <li class="active">Detallar</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Start Blog
    ============================================= -->

    <div class="blog-area single full-blog full-blog default-padding">
        <div class="container">
            <div class="blog-items">
                <div class="row">
                    <div class="blog-content wow fadeInUp col-lg-10 offset-lg-1 col-md-12">
                        <div class="item">

                            <div class="blog-item-box">
                                <!-- Start Post Thumb -->
                                <div class="thumb d-flex">
                                    <img class="img-fluid m-auto" src="@Model.Blog.BlogPhoto" alt="Thumb">
                                    <div class="date">@Model.Blog.PublishDate.ToString("MMM") @Model.Blog.PublishDate.Day, @Model.Blog.PublishDate.Year</div>
                                </div>
                                <!-- Start Post Thumb -->

                                <div class="info">
                             
                                    <h3>@Model.Blog.HeaderText</h3>
                                    <p>
                                       @Model.Blog.Description
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- Start Post Pagination -->
                     
                        <!-- End Post Pagination -->

                        <!-- Start Post Tags-->
                     
                        <!-- End Post Tags -->

                      

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Blog -->