@model IEnumerable<Entities.Category>
@{
    ViewData["Title"] = "Kateqoriya Siyahısı";
    ViewData["Link"] = "Kateqoriyalar";
}

<h1>Kateqoriyalar</h1>

<p>
    <a asp-action="Create"  style="color:blue;font-size:20px">Yarat +</a>
</p>
<table class="table table-bordered" id="myTable" >
    <thead class="table-dark">
        <tr>
            <th>@Html.DisplayNameFor(model=>model.Name)</th>
            <th>@Html.DisplayNameFor(model=>model.IconUrl)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
           <tr>
            <td>@Html.DisplayFor(modelItem=> item.Name)</td>
            <td>
                <img width="80" src="@Html.DisplayFor(modelItem=> item.IconUrl)"/>
            </td>
            <td class="d-flex justify-content-end">
                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-warning" style="color:white">Dəyiş</a>|
                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-primary" style="color:white">Detallar</a>|
                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger" style="color:white">Sil</a>
            </td>
        </tr> 
        }
        
    </tbody>
</table>
@section Scripts{
    <script>
        $(document).ready( function () {
    $('#myTable').DataTable();
     } );
    </script>
}



